.cardBox {
  background-color: white;
  border: 1px solid black;
  max-width: 50px;
  border-radius: 3px;
}

.yellow {
  background-color: black;
  border: 2px solid yellow;
}

.yellow > div.red {
  color: yellow;
}

.abbreviated-card {
  margin: auto;
  text-align: center;
  font-size: 22px;
}

.red {
  color: red;
}

.black {
  color: black;
}
