.playing-card img {
  margin-top: 5px;
  width: 80px;
}

.playing-card .playable {
  box-sizing: content-box;
  box-shadow: 5px 5px 5px 0 white;
}

.playing-card .playable:hover {
  position: relative;
  top: -10px;
  cursor: pointer;
}

.playing-card .loading:hover {
  cursor: wait;
}
