.playing-card img {
  margin-top: 5px;
  width: 110px;
}

.playing-card .playable {
  box-sizing: content-box;
  border: green solid 5px;
}

.playing-card .playable:hover {
  position: relative;
  top: -10px;
  cursor: pointer;
}

.playing-card .loading:hover {
  cursor: wait;
}
