body {
  background: url('./images/woodGrain.jpg');
  background-size: cover;
}

section {
  background: url('./images/background.jpg');
  width: 800px;
  height: 700px;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 10px;
}

#reset-button {
  margin-top: 50vh;
}

.lobby {
  background-color: #efefef;
  margin: auto;
  padding: 1em;
  height: 100%;
}

.split {
  display: flex;
  justify-content: space-between;
}

td.light {
  color: gray;
}
