body {
  background: url('./images/woodGrain.jpg');
  background-size: cover;
}

section {
  background: url('./images/background.jpg');
  width: 800px;
  height: 600px;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 10px;
}

#reset-button {
  margin-top: 50vh;
}

#rules-link {
  background-color: #007bff;
  border-radius: 0.25rem;
  color: white;
  margin: 0.25rem 0 0 0.25rem;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.lobby {
  background-color: #efefef;
  margin: auto;
  padding: 1em;
  height: 100%;
}

.split {
  display: flex;
  justify-content: space-between;
}

td.light {
  color: gray;
}

.doubles-badge {
  position: absolute;
  margin-left: 0.25em;
  margin-top: 0.1em;
  padding: 0;
  display: inline;
}
