.report img {
  max-width: 65px;
  margin-right: 10px;
}
.modal-body {
  font-size: 12px;
}

.short {
  padding: 0.4rem !important;
}

.flex {
  display: flex;
}

.bury-box {
  margin: auto;
}

.card-title {
  margin: auto;
  margin-top: 10px;
}

.bury-box img {
  margin: auto;
}

.winner {
  background-color: green;
}
