.lobby {
  background-color: #efefef;
  margin: auto;
  padding: 1em;
  height: 100%;
}

.split {
  display: flex;
  justify-content: space-between;
}

td.light {
  color: gray;
}

.wrap {
  height: 500px;
  overflow-y: scroll;
}

table {
  margin: 0;
  width: 100%;
}
.joinable-games-header {
  margin-top: 1em;
}
